In [2]:
import pandas as pd
import numpy as np

aapl_news = pd.read_csv('apple_news_stocks.csv')
amzn_news = pd.read_csv('amazon_news_stocks.csv')

aapl_tweets = pd.read_csv('aapl_tweets_stocks.csv')
amzn_tweets = pd.read_csv('amzn_tweets_stocks.csv')

In [3]:
aapl_news.drop(columns=['Unnamed: 0','text'],inplace=True)
amzn_news.drop(columns=['Unnamed: 0','text'],inplace=True)

In [8]:
aapl_news['Date'] = pd.to_datetime(aapl_news['publishedTime'].str.slice(0,10))
amzn_news['Date'] = pd.to_datetime(amzn_news['publishedTime'].str.slice(0,10))

aapl_news.drop(columns=['publishedTime'],inplace=True)
amzn_news.drop(columns=['publishedTime'],inplace=True)

In [9]:
import yfinance as yf
from datetime import timedelta

aapl = yf.Ticker('AAPL')
amzn = yf.Ticker('AMZN')

aapl_min = min(aapl_news['Date'])
aapl_max = max(aapl_news['Date'])
aapl_max = aapl_max + timedelta(days=3)

amzn_min = min(amzn_news['Date'])
amzn_max = max(amzn_news['Date'])
amzn_max = amzn_max + timedelta(days=3)

aapl = aapl.history(start=aapl_min.date(), end=aapl_max.date())

amzn = amzn.history(start=amzn_min.date(), end=amzn_max.date())

In [11]:
aapl.reset_index(inplace=True)
amzn.reset_index(inplace=True)

aapl = aapl[['Date','Close']]
amzn = amzn[['Date','Close']]

aapl['Next Close'] = aapl['Close'].shift(-1)
amzn['Next Close'] = amzn['Close'].shift(-1)

aapl.rename(columns={'Close':'AAPL Close','Next Close':'Next AAPL Close'},inplace=True)
amzn.rename(columns={'Close':'AMZN Close','Next Close':'Next AMZN Close'},inplace=True)

/tmp/ipykernel_1773/1293851027.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aapl['Next Close'] = aapl['Close'].shift(-1)
/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [18]:
aapl

          Date  AAPL Close  Next AAPL Close
0   2017-12-07   40.433685        40.445621
1   2017-12-08   40.445621        41.233662
2   2017-12-11   41.233662        41.002026
3   2017-12-12   41.002026        41.138142
4   2017-12-13   41.138142        41.126205
..         ...         ...              ...
289 2019-02-04   41.508522        42.218712
290 2019-02-05   42.218712        42.233265
291 2019-02-06   42.233265        41.433388
292 2019-02-07   41.433388        41.482067
293 2019-02-08   41.482067              NaN

[294 rows x 3 columns]

In [19]:
aapl_news = aapl_news[['Date','title']].merge(aapl,on='Date')
aapl_news.rename(columns={'AAPL Close':'Close','Next AAPL Close':'Next Close'})

amzn_news = amzn_news[['Date','title']].merge(amzn,on='Date')
amzn_news.rename(columns={'AMZN Close':'Close','Next AMZN Close':'Next Close'})

,Date,title,Close,Next Close
0,2018-12-03,MARKET SNAPSHOT: Dow Futures Up Nearly 500 Poi...,1772.359985,1668.400024
1,2018-12-03,These are the best-performing stocks in Monday...,1772.359985,1668.400024
2,2018-12-03,Here's What to Expect from Hewlett Packard Ent...,1772.359985,1668.400024
3,2018-12-03,Using a mobile wallet can do serious damage to...,1772.359985,1668.400024
4,2018-12-03,This bullish technical pattern in the stock ma...,1772.359985,1668.400024
...,...,...,...,...
18777,2017-12-28,"During the last few days of 2016, the talk on ...",1186.099976,1169.469971
18778,2017-12-28,"Copper Rises, Bitcoin Falls, Tim Cook's Pay So...",1186.099976,1169.469971
18779,2017-12-28,Stock Market Today: Stocks Mixed As FANGs Adva...,1186.099976,1169.469971
18780,2017-12-28,"During the last few days of 2016, the talk on ...",1186.099976,1169.469971
18781,2017-12-15,U.S. stock index futures are set for a positiv...,1179.140015,1190.579956

In [14]:
aapl_news

,title,publishedClose,nextClose,Date
0,WhatsApp Limits Text Forwards to Five Recipien...,156.80,156.00,2019-01-22
1,Taiwan Stock Market Due For Profit Taking,172.70,170.52,2018-04-20
2,Российский фондовый рынок демонстрирует призна...,187.62,188.30,2018-11-15
3,Broderick Brian C Sells 352 Shares of Apple In...,150.55,150.90,2019-01-09
4,"Ahead of Spotify's IPO, Apple says it's not in...",173.61,173.09,2018-02-21
...,...,...,...,...
77677,MARKET SNAPSHOT: Stock Market Books Back-to-ba...,168.40,167.10,2018-03-28
77678,Epic Games Is Exploiting a Loophole in Google'...,148.28,148.59,2019-01-06
77679,"Upcoming Tech Earnings Reports to Watch: NVDA,...",169.38,166.46,2018-02-02
77680,"As Apple (AAPL) Market Value Rose, Halbert Har...",178.60,178.44,2018-03-16
77681,Major Averages Turning In Another Mixed Perfor...,206.41,206.45,2018-08-02

In [6]:
len(amzn_tweets)

621082

In [7]:
aapl_news

,Unnamed: 0,title,publishedTime,publishedClose,nextClose,text
0,0,WhatsApp Limits Text Forwards to Five Recipien...,2019-01-22 00:03:00+00:00,156.80,156.00,Tweet\nFacebook Inc’s WhatsApp messenger servi...
1,0,Taiwan Stock Market Due For Profit Taking,2018-04-20 00:30:00+00:00,172.70,170.52,Taiwan Stock Market Due For Profit Taking 4/19...
2,0,Российский фондовый рынок демонстрирует призна...,2018-11-15 09:49:00+00:00,187.62,188.30,нефтяных котировок . Крупные участники рынка в...
3,0,Broderick Brian C Sells 352 Shares of Apple In...,2019-01-09 09:21:00+00:00,150.55,150.90,Broderick Brian C Sells 352 Shares of Apple In...
4,0,"Ahead of Spotify's IPO, Apple says it's not in...",2018-02-21 15:55:00+00:00,173.61,173.09,"Ahead of Spotify's IPO, Apple says it's not in..."
...,...,...,...,...,...,...
77677,0,MARKET SNAPSHOT: Stock Market Books Back-to-ba...,2018-03-28 00:00:00+00:00,168.40,167.10,"By Mark DeCambre and Barbara Kollmeyer, Market..."
77678,0,Epic Games Is Exploiting a Loophole in Google'...,2019-01-06 01:00:00+00:00,148.28,148.59,"Original article\nEpic Games, the creator of t..."
77679,0,"Upcoming Tech Earnings Reports to Watch: NVDA,...",2018-02-02 05:00:00+00:00,169.38,166.46,Trades from $ 3 Read More Hide Full Article \n...
77680,0,"As Apple (AAPL) Market Value Rose, Halbert Har...",2018-03-16 14:09:00+00:00,178.60,178.44,"As Apple (AAPL) Market Value Rose, Halbert Har..."
77681,0,Major Averages Turning In Another Mixed Perfor...,2018-08-02 14:51:00+00:00,206.41,206.45,Major Averages Turning In Another Mixed Perfor...